<div class="container my-6 px-sm-1">
  <div class="px-1 ml-md-5">
    <h3 class="bg-light text-center ml-5 mb-6" style="max-width: 300px; margin-left: auto; margin-right: auto;">ブックマーク一覧</h3>
  </div>
  <div class="row">
    <% if @recipes.empty? %>
      <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 200px;">
        <h3 class="text-center">ブックマークしている投稿はありません</h3>
      </div>
    <% else %>
      <% @recipes.each do |bookmarked_recipe| %>
        <% if bookmarked_recipe.is_deleted == false %>
          <div class="col-md-3 col-sm-6 mb-4">
            <%= link_to public_recipe_path(bookmarked_recipe.id) do %>
              <div class="d-flex flex-column align-items-center">
                <div class="recipe-image-container">
                  <% if bookmarked_recipe.post_image.attached? %>
                    <%= image_tag bookmarked_recipe.post_image, class: "img-fluid mb-2 recipe-image", style: "max-height: 200px;" %>
                  <% else %>
                    <!-- 画像が存在しない場合も200px×200pxの間隔を空けるように設定 -->
                    <div class="recipe-placeholder" style="width: 200px; height: 200px;"></div>
                  <% end %>
                </div>
                <p class="mb-0"><%= bookmarked_recipe.title %></p>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="col-6 col-md-3 col-lg-2">
            <div class="d-flex flex-column align-items-center">
              <p class="text-muted">管理者によって投稿が削除されました</p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
