<div class="nested-fields row">
  <div class="form-group col-sm-4">
    <%= ingredient.text_field :name, placeholder: "材料", class: "form-control mb-2" %>
  </div>
  <div class="form-group col-sm-4">
    <%= ingredient.text_field :quantity, placeholder: "分量", class: "form-control mb-2" %>
  </div>
  <div class="form-group col-sm-4">
    <%= ingredient.text_field :price, placeholder: "価格", class: "form-control mb-2" %>
  </div>
</div>
